<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>TEBCC Hit Insights</title>
    </head>
    <style>
        body {
            background-color: #ffffff !important;
        }
    </style>
    <script>
        var historicaldata = {{ historicaldata|tojson }}
        var hit_count = {{ hitnumber_raw }}
        var sixam_cutoff = {{ sixam_cutoff }};
        var hit_boundary_high = {{ hit_boundary_high }};
        var hit_count_formatted = hit_count.toLocaleString()
        var latestkey = "0";
        var hitcount_interval;
        var historical_interval;
        var gmapscost;
        var currentwidth = window.innerWidth;
        var currenttime = new Date().getTime() / 1000
        var historical_lastfetched = 0;
        var hit_lastfetched = 0

        var lastyear_ref = false
        var lastlastyear_ref = false
        var sixam_cutoff_bool = false

        var fetch_in_progress_hits = false
        var fetch_in_progress_graphs = false

        var nexthittime = -1
        var hitlastfetch = -1

        var nextgraphtime = -1
        var graphlastfetch = -1

        function refreshcheck_hits() {
            nexthittime = (Math.floor(new Date().getTime() / 1000 / 20) * 20) + 5
            if ((Math.floor(new Date().getTime() / 1000)) >= nexthittime) {
                nexthittime += 20
            }

            if (nexthittime - hitlastfetch > 20) {
                return true
            } else {
                return false
            }
        }

        function refreshcheck_graphs() {
            nextgraphtime = (Math.floor(new Date().getTime() / 1000 / 60) * 60) + 5
            if ((Math.floor(new Date().getTime() / 1000)) >= nextgraphtime) {
                nextgraphtime += 60
            }

            if (nextgraphtime - graphlastfetch > 60) {
                return true
            } else {
                return false
            }
        }

        function hit_heartbeat(bypass) {
            if (fetch_in_progress_hits) {
                return
            }

            if (bypass) {
                refreshcheck_hits()
            }

            if (refreshcheck_hits()) {
                if ((new Date().getTime() / 1000) - 1 < hitlastfetch) {
                    return
                }
                
                $("#loadrefresh").html("Updating...")
                reloadDataHits()
                return
            }
            let diff = nexthittime - Math.floor(new Date().getTime() / 1000)
            if (hitlastfetch != -1 && nexthittime != -1 && diff >= 0) {
                $("#loadrefresh").html(`Updating in ${diff} seconds.`)
            }
        }

        function graph_heartbeat(bypass) {
            if (fetch_in_progress_graphs) {
                return
            }

            if (bypass) {
                refreshcheck_graphs()
            }

            if (refreshcheck_graphs()) {
                if ((new Date().getTime() / 1000) - 1 < graphlastfetch) {
                    return
                }

                $("#graphrefresh").html("Updating...")
                reloadDataHistorical()
                return
            }
            let diff = nextgraphtime - Math.floor(new Date().getTime() / 1000)
            if (graphlastfetch != -1 && nextgraphtime != -1 && diff >= 0) {
                $("#graphrefresh").html(`Updating in ${diff} seconds.`)
            }
        }

        function reloadDataHistorical() {
            fetch_in_progress_graphs = true
            if (graphlastfetch + 1 > new Date().getTime() / 1000) {
                return
            } else {
                graphlastfetch = new Date().getTime() / 1000
            }

            fetch("/api/v1/insights/fetchHistoricalData?key=")
            .then(response => response.json())
            .then(response => reloadDataPrepHistorical(response))
            .then(response => {fetch_in_progress_graphs = false})
            .then(response => {graph_heartbeat()})
        }

        function reloadDataHits() {
            fetch_in_progress_hits = true
            if (hitlastfetch + 1 > new Date().getTime() / 1000) {
                return
            } else {
                hitlastfetch = new Date().getTime() / 1000
            }

            fetch("/api/v1/insights/fetchHitCount?key=")
            .then(response => response.json())
            .then(response => reloadDataPrepHits(response))
            .then(response => {fetch_in_progress_hits = false})
            .then(response => {hit_heartbeat()})
        }

        function reloadDataPrepHistorical(response) {
            historicaldata = response['historicaldata']

            updateExtraMetrics()
            drawer()
        }

        function reloadDataPrepHits(response) {
            hit_count = response['hits']
            hit_count_formatted = response['hits_formatted']
            hit_geocoder_formatted = response['hits_geocoder_formatted']
            $("#hitcounter").html(hit_count_formatted + " hits")
            $("#geocoder-hits").html(hit_geocoder_formatted)
            updateGMaps()
        }

        function updateGMaps() {
            if (hit_count > 128571) {
                gmapscost = (700 + ((hit_count - 128571) * 0.0056)).toLocaleString(undefined, {maximumFractionDigits: 2, minimumFractionDigits: 2})
            } else if (hit_count >= 28571) {
                gmapscost = ((hit_count - 28571) * 0.007).toLocaleString(undefined, {maximumFractionDigits: 2, minimumFractionDigits: 2})
            } else {
                gmapscost = "0.00"
            }
            $("#gmaps-cost").html(gmapscost)
            $("#loadtime").html(timeformatter(null, true, false))
        }

        function updateExtraMetrics() {
            for (key in historicaldata['historical']) {
                if (key > latestkey) {
                    latestkey = key
                }
            }

            if (latestkey != "0") {
                $("#graphtime").html(timeformatter(latestkey, false, false))
            } else {
                $("#graphtime").html("N/A")
            }

            $("#graphtime-fetch").html(timeformatter(null, true, false))

            try {
                $("#lasthour-hits").html((historicaldata['historical'][latestkey]['hits'] - historicaldata['historical'][latestkey - 3600]['hits']).toLocaleString(undefined, {maximumFractionDigits: 2}))
            } catch {
                console.log("Failed last hour hits")
                $("#lasthour-hits").html("N/A")
            }

            try {
                lasthour_hits = historicaldata['historical'][latestkey]['hits'] - historicaldata['historical'][latestkey - 3600]['hits']
                previoushour_hits = historicaldata['historical'][latestkey - 3600]['hits'] - historicaldata['historical'][latestkey - 7200]['hits']
                ratio = lasthour_hits / previoushour_hits * 100

                if (ratio > 100) {
                    $("#lasthour-trend").html("↑ ")
                } else {
                    $("#lasthour-trend").html("↓ ")
                }

                $("#lasthour-percent").html((Math.abs(ratio - 100)).toLocaleString(undefined, {maximumFractionDigits: 2}))
            } catch {
                console.log("Failed last hour percent")
                $("#lasthour-percent").html("N/A")
            }

            try {
                lastyear_hits = historicaldata['historical'][latestkey]["2023hits"]
                thisyear_hits = historicaldata['historical'][latestkey]["hits"]
                delta = thisyear_hits - lastyear_hits
                ratio = thisyear_hits / lastyear_hits * 100

                if (ratio > 100) {
                    $("#2022delta-trend").html("↑ ")
                } else {
                    $("#2022delta-trend").html("↓ ")
                }

                $("#2022delta").html(delta.toLocaleString())
                $("#2022delta-percent").html((Math.abs(ratio - 100)).toLocaleString(undefined, {maximumFractionDigits: 2}))
                if (isNaN(delta)) {
                    $("#hitdeltaspan").hide()
                } else {
                    $("#hitdeltaspan").show()
                }
            } catch (e) {
                console.log("Failed delta")
                $("#hitdeltaspan").hide()
            }
            
            try {
                $("#hpm-count").html((historicaldata['historical'][latestkey]['hits'] - historicaldata['historical'][latestkey - 60]['hits']).toLocaleString())
                $("#hps-count").html(((historicaldata['historical'][latestkey]['hits'] - historicaldata['historical'][latestkey - 60]['hits']) / 60).toLocaleString(undefined, {maximumFractionDigits: 2}))
            } catch {
                console.log("Failed HPM")
                $("#hpm-count").html("N/A")
            }
        }

        function timeformatter(timestamp, currently, longdate) {
            let localtime
            if (currently) {
                localtime = new Date()
            } else {
                localtime = new Date(timestamp * 1000)
            }

            let options_time
            if (longdate) {
                options_time = {
                    month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'
                }
            } else {
                options_time = {
                    hour: 'numeric', minute: 'numeric', second: 'numeric'
                }
            }
            let timestring = new Intl.DateTimeFormat("default", options_time).format(localtime)
            return timestring
        }

        $(function () {
            updateExtraMetrics()
            updateGMaps()
            google.charts.load('current', {packages: ['corechart', 'line']})
            google.charts.setOnLoadCallback(gChartsCallback)
        })

        function gChartsCallback() {
            if (new Date().getTime() / 1000 < hit_boundary_high) {
                historical_interval = setInterval(hit_heartbeat, 1000)
                hitcount_interval = setInterval(graph_heartbeat, 1000)
                hit_heartbeat(true)
                graph_heartbeat(true)
            } else {
                drawer()
            }
        }

        function drawer() {
            renderhph()
            renderhpm()
            rendergmapsgraph()
            renderhitcounter()
            renderyoygraph()
        }

        function resizer() {
            if (currentwidth != window.innerWidth) {
                drawer()
                currentwidth = window.innerWidth
            }
        }

        function return2022hph(key) {
            if (lastlastyear_ref) {
                try {
                    return historicaldata['historical'][key]['2022hits'] - historicaldata['historical'][key - 3600]['2022hits']
                } catch (e) {
                    return null
                }
            } else {
                return null
            }
        }

        function returnlastyearhph(key) {
            if (lastyear_ref) {
                try {
                    return historicaldata['historical'][key]['2023hits'] - historicaldata['historical'][key - 3600]['2023hits']
                } catch (e) {
                    return null
                }
            } else {
                return null
            }
        }

        function renderhph() {
            var key;
            var options = {
                hAxis: {
                    title: 'Time',
                    format: 'M/d, h a',
                },
                vAxis: {
                    format: '###,### hits',
                },
                legend: {
                    position: 'none',
                }
            } 
            
            var dateformatter = new google.visualization.DateFormat({pattern: 'MMMM d, h:mm a'});
            var numformatter = new google.visualization.NumberFormat({suffix: ' hits'})
            var data = new google.visualization.DataTable()
            data.addColumn('date', 'Time')
            data.addColumn('number', 'Hits per Hour')
            data.addColumn('number', '2022 Hits per Hour')
            data.addColumn('number', '2023 Hits per Hour')

            for (key in historicaldata['historical']) {
                if (sixam_cutoff_bool) {
                    if (parseInt(key) > sixam_cutoff) {
                        continue
                    }
                }

                try {
                    data.addRow([new Date(key * 1000), historicaldata['historical'][key]['hits'] - historicaldata['historical'][key - 3600]['hits'], return2022hph(key), returnlastyearhph(key)])
                } catch (e) {
                    continue
                }
            }

            dateformatter.format(data, 0)
            //numformatter.format(data, 1)

            var chart = new google.charts.Line(document.getElementById("hph-graph"))
            chart.draw(data, google.charts.Line.convertOptions(options))
        }

        function return2022hpm(key) {
            if (lastlastyear_ref) {
                try {
                    return historicaldata['historical'][key]['2022hits'] - historicaldata['historical'][key - 60]['2022hits']
                } catch (e) {
                    return null
                }
            } else {
                return null
            }
        }

        function returnlastyearhpm(key) {
            if (lastyear_ref) {
                try {
                    return historicaldata['historical'][key]['2023hits'] - historicaldata['historical'][key - 60]['2023hits']
                } catch (e) {
                    return null
                }
            } else {
                return null
            }
        }

        function renderhpm() {
            var key;
            var options = {
                hAxis: {
                    title: 'Time',
                    format: 'M/d, h a',
                },
                vAxis: {
                    format: '###,### hits',
                },
                legend: {
                    position: 'none',
                }
            } 
            
            var dateformatter = new google.visualization.DateFormat({pattern: 'MMMM d, h:mm a'});
            var numformatter = new google.visualization.NumberFormat({suffix: ' hits'})
            var data = new google.visualization.DataTable()
            data.addColumn('date', 'Time')
            data.addColumn('number', 'Hits per Minute')
            data.addColumn('number', '2022 Hits per Minute')
            data.addColumn('number', '2023 Hits per Minute')

            for (key in historicaldata['historical']) {
                if (sixam_cutoff_bool) {
                    if (parseInt(key) > sixam_cutoff) {
                        continue
                    }
                }

                try {
                    data.addRow([new Date(key * 1000), historicaldata['historical'][key]['hits'] - historicaldata['historical'][key - 60]['hits'], return2022hpm(key), returnlastyearhpm(key)])
                } catch (e) {
                    continue
                }
            }

            dateformatter.format(data, 0)
            //numformatter.format(data, 1)

            var chart = new google.charts.Line(document.getElementById("hpm-graph"))
            chart.draw(data, google.charts.Line.convertOptions(options))
        }

        function return2022hits(key) {
            if (lastlastyear_ref) {
                try {
                    return historicaldata['historical'][key]['2022hits']
                } catch (e) {
                    return null
                }
            } else {
                return null
            }
        }

        function returnlastyearhits(key) {
            if (lastyear_ref) {
                try {
                    return historicaldata['historical'][key]['2023hits']
                } catch (e) {
                    return null
                }
            } else {
                return null
            }
        }

        function renderhitcounter() {
            var key;
            var options = {
                hAxis: {
                    title: 'Time',
                    format: 'M/d, h a',
                },
                vAxis: {
                    format: '###,### hits',
                },
                legend: {
                    position: 'none',
                }
            } 
            
            var dateformatter = new google.visualization.DateFormat({pattern: 'MMMM d, h:mm a'});
            var numformatter = new google.visualization.NumberFormat({suffix: ' hits'})
            var data = new google.visualization.DataTable()
            data.addColumn('date', 'Time')
            data.addColumn('number', 'Total Hits')
            data.addColumn('number', '2022 Total Hits')
            data.addColumn('number', '2023 Total Hits')

            for (key in historicaldata['historical']) {
                if (sixam_cutoff_bool) {
                    if (parseInt(key) > sixam_cutoff) {
                        continue
                    }
                }

                try {
                    data.addRow([new Date(key * 1000), historicaldata['historical'][key]['hits'], return2022hits(key), returnlastyearhits(key)])
                } catch (e) {
                    console.log(e)
                    continue
                }
            }

            dateformatter.format(data, 0)
            //numformatter.format(data, 1)

            var chart = new google.charts.Line(document.getElementById("hitcounter-graph"))
            chart.draw(data, google.charts.Line.convertOptions(options))
        }

        function renderyoygraph() {
            var key;
            var options = {
                hAxis: {
                    title: 'Time',
                    format: 'M/d, h a',
                },
                vAxis: {
                    format: '#.##' + "'%'",
                },
                legend: {
                    position: 'none',
                }
            }

            var dateformatter = new google.visualization.DateFormat({pattern: 'MMMM d, h:mm a'});
            var numformatter = new google.visualization.NumberFormat({suffix: '%'})
            var data = new google.visualization.DataTable()
            data.addColumn('date', 'Time')
            data.addColumn('number', 'YoY Growth')

            for (key in historicaldata['historical']) {
                // No need for the 6am cutoff (because last years hits cut off at 6am)
                try {
                    lastyear_hits = historicaldata['historical'][key]["2023hits"]
                    thisyear_hits = historicaldata['historical'][key]["hits"]
                    if (lastyear_hits == undefined) {
                        continue
                    }

                    delta = thisyear_hits - lastyear_hits
                    ratio = thisyear_hits / lastyear_hits * 100
                    data.addRow([new Date(key * 1000), ratio - 100])
                } catch (e) {
                    continue
                }
            }

            dateformatter.format(data, 0)
            numformatter.format(data, 1)

            var chart = new google.charts.Line(document.getElementById("yoy-graph"))
            chart.draw(data, google.charts.Line.convertOptions(options))
        }

        function return2022gmaps(key) {
            if (lastlastyear_ref) {
                try {
                    return historicaldata['historical'][key]['2022gmapscost']
                } catch (e) {
                    return null
                }
            } else {
                return null
            }
        }

        function returnlastyeargmaps(key) {
            if (lastyear_ref) {
                try {
                    return historicaldata['historical'][key]['2023gmapscost']
                } catch (e) {
                    return null
                }
            } else {
                return null
            }
        }

        function rendergmapsgraph() {
            var key;
            var options = {
                hAxis: {
                    title: 'Time',
                    format: 'M/d, h a',
                },
                vAxis: {
                    format: '$###,###',
                },
                legend: {
                    position: 'none',
                }
            } 
            
            var dateformatter = new google.visualization.DateFormat({pattern: 'MMMM d, h:mm a'});
            var numformatter = new google.visualization.NumberFormat({prefix: '$'})
            var data = new google.visualization.DataTable()
            data.addColumn('date', 'Time')
            data.addColumn('number', 'Estimated GMaps Cost')
            data.addColumn('number', '2022 Estimated GMaps Cost')
            data.addColumn('number', '2023 Estimated GMaps Cost')

            for (key in historicaldata['historical']) {
                if (sixam_cutoff_bool) {
                    if (parseInt(key) > sixam_cutoff) {
                        continue
                    }
                }

                try {
                    data.addRow([new Date(key * 1000), historicaldata['historical'][key]['gmapscost'], return2022gmaps(key), returnlastyeargmaps(key)])
                } catch (e) {
                    console.log(e)
                    continue
                }
            }

            dateformatter.format(data, 0)
            numformatter.format(data, 1)
            numformatter.format(data, 2)
            numformatter.format(data, 3)

            var chart = new google.charts.Line(document.getElementById("gmapscost-graph"))
            chart.draw(data, google.charts.Line.convertOptions(options))
        }

        function refocuser() {
            reloadDataHistorical()
            reloadDataHits()
        }

        $(document).ready(function () {
            $("#2022ref").checked = false
            $("#2023ref").checked = false
            $("#6amcutoff").checked = false

            $("#2022ref").change(function () {
                lastlastyear_ref = this.checked
                drawer()
            })

            $("#2023ref").change(function () {
                lastyear_ref = this.checked
                drawer()
            })

            $("#6amcutoff").change(function () {
                sixam_cutoff_bool = this.checked
                drawer()
            })
        })

        //window.addEventListener("focus", refocuser)
        //window.addEventListener("visibilitychange", refocuser)
    </script>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6" style="padding-top: 30px">
                    <h5>During tracking, there have been</h5>
                    <h3 id="hitcounter">{{ hitnumber }} hits</h3>
                </div>
                <div class="col-sm-12 col-md-6" style="padding-top: 30px">
                    Hits in the last hour: <span id="lasthour-hits">N/A</span> (<span id="lasthour-trend"></span><span id="lasthour-percent"></span>% compared to the previous hour) <br>
                    Hits per minute: <span id="hpm-count">N/A</span> (~<span id="hps-count">N/A</span> hits/second) <br>
                    <span id="hitdeltaspan">
                        Hit delta to last year: <span id="2022delta">N/A</span> hits (<span id="2022delta-trend"></span><span id="2022delta-percent"></span>% compared to last year) <br>
                    </span>
                    Estimated Google Maps API cost: $<span id="gmaps-cost">N/A</span><br>
                    Geocoder Usage: <span id="geocoder-hits">{{ hitnumber_geocoder }}</span> hits<br>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <small>
                        Hit count & estimated map cost current as of <span id="loadtime">N/A</span>. <span id="loadrefresh">Auto-update disabled.</span><br>
                        Hits per hour/minute & graphs current as of <span id="graphtime">N/A</span>. <span id="graphrefresh">Auto-update disabled.</span><br>
                    </small>
                    <hr>
                    <input type="checkbox" id="2022ref" name="2022ref" value="Check">&nbsp;<label for="2022ref">Show 2022 hit data as a reference</label><br>
                    <input type="checkbox" id="2023ref" name="2023ref" value="Check">&nbsp;<label for="2023ref">Show 2023 hit data as a reference</label><br>
                    <input type="checkbox" id="6amcutoff" name="6amcutoff" value="Check">&nbsp;<label for="6amcutoff">Cut graphs off at 6:10 AM (end of tracking)</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h5>Hit Counter Graph</h5>
                    <div id="hitcounter-graph" style="min-height: 400px"></div>
                </div>
            </div>
            <div class="row" style="padding-top: 30px">
                <div class="col-sm-12 col-md-6">
                    <h5>Hits per Minute Graph</h5>
                    <div id="hpm-graph" style="min-height: 400px"></div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h5>Hits per Hour Graph</h5>
                    <div id="hph-graph" style="min-height: 400px"></div>
                </div>
            </div>
            <div class="row" style="padding-top: 30px">
                <div class="col-sm-12 col-md-6">
                    <h5>Year-over-Year Growth from 2023 Graph</h5>
                    <div id="yoy-graph" style="min-height: 400px"></div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h5>Estimated Google Maps API Cost Graph</h5>
                    <div id="gmapscost-graph" style="min-height: 400px"></div>
                </div>
            </div>
            <hr>
            <div class="row" style="padding-bottom: 30px">
                <div class="col">
                    <small>
                        This is an internal insights page that runs off of data coming from the Geo API. This is called every time track.easterbunny.cc, and gives us the best look into a true number of hits for TEBCC. <br>
                        Hits are valid from 3/30/2024 1:59:00 AM EDT - 4/1/2024 6:00:00 AM EDT. The insights page will collect data from 3/30/2024 1:58:00 AM EDT - 4/1/2024 6:01:00 AM EDT. <br>
                        A one-minute gap is provided to account for device clocks that are not synced properly, as the tracker uses device time to run tracking.
                        <hr>
                        <b>Important notes about data types & graphs</b><br>
                        The Google Maps cost graph will likely run 5-10% higher than the actual cost due to Google not counting every single map load. <br>
                        The Hits per Hour graph counts the number of hits in the last hour from the data point. The percentage change at the top of the page calculates that data point from 1 hour ago to 2 hours ago. <br>
                        The Hits per Minute graph counts the number of hits in the last 60 seconds from the data point. <br><br>
                        Some graphs and metrics will not be available when tracking starts. By 4 AM EDT on 3/31, all graphs & metrics will become available.
                    </small>
                </div>
            </div>
        </div>
    </body>

</html>