<!--
   track.easterbunny.cc Geo API v1.5.0
   Copyright (C) 2022  track.easterbunny.cc

   The track.easterbunny.cc Geo API is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published
   by the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   The track.easterbunny.cc Geo API is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with the track.easterbunny.cc Geo API.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<title>Welcome to the track.easterbunny.cc Geo API!</title>

<style>
  body {
    font-family: Roboto
  }
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col" style="padding: 2em">
        <p class="lead">Welcome to the track.easterbunny.cc Geo API!</p>
        <hr>
          <p>This is an internal Geo API that returns the approximate latitude and longitude for an IPv4/IPv6 address. <br>
          This data is then used to estimate when the Easter Bunny will arrive in your area on track.easterbunny.cc <br>
          Privacy information about the Geo API can be found at <a href="{{ privacy_url }}">{{ privacy_url }}</a>.
            <br><br>
            The database version that the Geo API is currently using is: {{ geodbver }}
          <br><br>
          This product includes GeoLite2 data created by MaxMind, available from
            <a href="https://www.maxmind.com">https://www.maxmind.com</a>.
          <hr>
          <p>
            If you're looking for the tracker, please click <a id="trackerlink" href="{{ tracker_url }}">here</a> to get redirected to the homepage. <br>
            If you're looking for tracker insights, please click <a href="https://geoapi.owenthe.dev/insights">here</a>. Authentication is required. <br>
            <b>Note: </b>To avoid clogging Cloudflare logs, the Geo API should be accessed from owenthe.dev.
          </p>
          Geo API v{{ apiver }} · Tracker {{ tracker_ver }} · &copy; 2023 track.easterbunny.cc <br>
          <hr>
          The track.easterbunny.cc Geo API is free & open source software: you can distribute it and/or modify it under the terms of the GNU AGPL license, v3 or later. <br>
          Source code: <a href="{{ geoapi_source_url }}">GitLab Repository</a> <br>
          Full license text: <a href="{{ geoapi_license_url }}">License</a>
          </p>
      </div>
    </div>
  </div>
</body>